<header class="header">

    <div class="<title>">
        <h1>K</h1>
    </div>

    <nav class="navbar">
        <ul>
            <li >
                <a href=""
                    ><i class="fa-solid fa-house" ></i>
                </a>
                
            </li>
            <li>
                <a href="">  
                    <i class="fa-solid fa-user" ></i>
                </a>
            </li>
            
            
        </ul>
    </nav>
    

</header>


