<header class="header">

    <div class="<title>">
        <h1>K</h1>
    </div>

    <nav class="navbar">
        <ul>
            <li >
                <a href="./admin"
                    ><i class="fa-solid fa-house" ></i>
                </a>
                
            </li>
            <li >
                <a href="./signup"
                    ><i class="fa-solid fa-right-to-bracket"></i>
                </a>
                
            </li>
            <li>
                <a href="./logout">  
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </li>
            
            
        </ul>
    </nav>
    

</header>


