<header class="header">

    <div class="<title>">
        <h1>user-auth</h1>
    </div>

    <nav class="navbar">
        <ul>
            <li>
                <a href="./admin">
                    <i class="fa-solid fa-user"></i>
                    <span> Profile</span>
                </a>

            </li>
            <li>
                <a href="./signup">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span>Signup</span>
                </a>

            </li>
            <li>
                <a href="./logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span> Logout</span>
                </a>
            </li>


        </ul>
    </nav>


</header>