
<div class="card">
    <form action="/signup" method="post">
        <!-- <label for="username">Username/email</label><br>
        <input type="text" id="username" name="username" required> -->
            <h2>Sign up</h2>

            <div class="email-box">
                <div class="input">
                    <label for="email" class="email">Email</label><br>
                </div>  
                <div class="input-box">
                    <input type="email" id="email" name="email" required>                
                    <i class="fa-solid fa-envelope "></i>
                </div>
            </div>  
            
            <div class="password-box">
                <div class="input">
                    <label for="password" class="password">Password</label><br>
                </div>
                <div class="input-box">
                     <input type="password" id="password" name="password" required>
                    <i class="fa-solid fa-lock "></i>
                </div>
            </div>

            <button type="submit" class="btn">Sign up</button>


    </form>

</div>
    


<!-- <div class="Desktop1" style="width: 4082px; height: 3065px; position: relative; background: #190D27">
    <div class="Group1" style="width: 5396.96px; height: 3791.95px; left: -1138.95px; top: -142px; position: absolute">
      <div class="Ellipse2" style="width: 2789px; height: 3915.02px; left: 5396.96px; top: 1119.37px; position: absolute; transform: rotate(106.61deg); transform-origin: 0 0; background: linear-gradient(180deg, #7F46F9 0%, rgba(34.96, 129.14, 149.81, 0) 100%); box-shadow: 1000px 1000px 1000px; filter: blur(1000px)"></div>
      <div class="Ellipse1" style="width: 2332.50px; height: 2939.09px; left: 0px; top: 634.91px; position: absolute; background: #190D27; box-shadow: 903px 903px 903px; filter: blur(903px)"></div>
    </div>
    <div class="SignupForm" style="width: 1543px; height: 1744px; left: 1212px; top: 660px; position: absolute">
      <div class="Rectangle1" style="width: 1543px; height: 1744px; left: 0px; top: 0px; position: absolute; opacity: 0.36; background: #686FAD"></div>
      <div class="EmailField" style="width: 1205.39px; height: 310.77px; left: 169px; top: 333.30px; position: absolute">
        <div class="Rectangle2" style="width: 1204.74px; height: 173.55px; left: 0px; top: 137.22px; position: absolute; opacity: 0.30; background: #875A8E"></div>
        <div class="Email" style="width: 170.57px; height: 54.56px; left: 521.67px; top: 0px; position: absolute; background: white"></div>
      </div>
      <div class="PasswordField" style="width: 1205.39px; height: 297.70px; left: 171px; top: 776.36px; position: absolute">
        <div class="Rectangle3" style="width: 1204.74px; height: 173.55px; left: 0px; top: 124.15px; position: absolute; opacity: 0.30; background: #875A8E"></div>
        <div class="Password" style="width: 320.75px; height: 52.49px; left: 442.67px; top: 0px; position: absolute; background: white"></div>
      </div>
      <div class="LoginButton" style="width: 500px; height: 192px; left: 524px; top: 1311px; position: absolute">
        <div class="Rectangle4" style="width: 500px; height: 192px; left: 0px; top: 0px; position: absolute; opacity: 0.42; background: #9060B5"></div>
        <div class="LogIn" style="width: 194.87px; height: 69.03px; left: 151px; top: 61px; position: absolute; background: white"></div>
      </div>
    </div>
    <div class="ButtonBorder" style="width: 1212px; height: 1047px; left: 1379px; top: 1126px; position: absolute">
      <div class="Rectangle5Stroke" style="width: 1207px; height: 178px; left: 0px; top: 0px; position: absolute; background: #637EC5"></div>
      <div class="Rectangle5Stroke" style="width: 1207px; height: 178px; left: 5px; top: 430px; position: absolute; background: #637EC5"></div>
      <div class="Rectangle6" style="width: 517px; height: 213px; left: 348px; top: 834px; position: absolute; border-radius: 56px; border: 10px #637EC5 solid"></div>
    </div>
  </div> -->