
<div class="card">
    <form action="/signup" method="post" enctype="application/json">

            <h2>Sign up</h2>

            <div class="email-box">
                <div class="input">
                    <label for="email" class="email">Email</label><br>
                </div>  
                <div class="input-box">
                    <input type="email" id="email" name="email" required>                
                    <i class="fa-solid fa-envelope "></i>
                </div>
            </div>  
            
            <div class="password-box">
                <div class="input">
                    <label for="password" class="password">Password</label><br>
                </div>
                <div class="input-box">
                     <input type="password" id="password" name="password" required>
                    <i class="fa-solid fa-lock "></i>
                </div>
            </div>

            <button type="submit" class="btn">Sign up</button>


    </form>

</div>
    